<h2><%=  @message = "Welcome to my app" %></h2>
<br>
<%= link_to "Select Doctors","/doctors" %><br><br>
<%= link_to "Show departments","/departments" %><br><br>
<%= link_to "Show Patients","/patients" %><br><br>
<%= link_to "Show All Appointments","/appointments" %><br><br>


