
<table width="50%" cellpadding="3" cellspacing="3" border="3" bordercolor="black">
	<caption><b>Roles<br></caption>
   <tr>
   	  <th>ID</th>
   	  <th>Name</th>
      <th>Role Detail</th>
   	  
    	</tr>
  <% @roles.each do |role| %>
  	<tr>
      <td><%= role.id %></td>
       <td><%= role.role_name %></td>
         <td>
            <%= link_to "Edit","/roles/edit/#{role.id}" %>
            <%= link_to "Delete","/roles/destroy/#{role.id}" %>
            <%= link_to "Show All Doctors",doctors_path(id: role.id) %>
          </td>
    </tr>
  <% end %>

</table>
<br>
<br>
<%= link_to "Create New role","/roles/new" %>
